@page "/about"

<Container Margin="Margin.Is5.FromTop">
    <Div Margin="Margin.Is5.FromBottom" Width="Width.Auto" Padding="Padding.Is5" TextAlignment="TextAlignment.Center" TextSize="TextSize.Heading4">
        <Card Shadow="Shadow.Large">
            <Heading Margin="Margin.Is5.FromBottom.Is5.FromTop.Is3.FromEnd.Is3.FromStart" style="text-align: center; color:darkblue; text-bold;">
                Welcome to OrderHandler! <br /> <br/> Founded in 2024 to supply you with the latest technical equipment for both office and home.
            </Heading>
        </Card>
        <Paragraph>
            <br/>
            Please don´t hesitate to contact us if you need support! Or use our <a href="/contact">contact form</a> to get in contact.
            <br/>
            <br/>
            <strong>IT Support</strong>
            <br/>
            Phone: +46 031-112233
            <br/>
            Email: it@OrderHandler.com
            <br/>
            <br/>
            <strong>Customer service</strong>
            <br/>
            Phone: +46 031-332211
            <br/>
            Email: info@OrderHandler.com
        </Paragraph>
    </Div>
</Container>

@code {

}
